<h2>Informações do Alojamentos</h2>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Tipo</th>
      <th>Cidade</th>
      <th>Endereço</th>
      <th>Anfitrião</th>
      <th>Contato</th>
    </tr>
  </thead>
  <tbody *ngFor="let place of places">
    <tr>
      <td>{{ place.id }}</td>
      <td>{{ place.type }}</td>
      <td>{{ place.city }}</td>
      <td>{{ place.address }}</td>
      <td>{{ place.host }}</td>
      <td>
        <a
          href="https://api.whatsapp.com/send?phone=55{{ place.contato }}"
          target="_blank"
          >{{ place.contato }}</a
        >
      </td>
    </tr>
  </tbody>
</table>
