<h1>Bem vindo!</h1>
<h2>Alojamentos</h2>

<h3>Encontre o seu alojamento:</h3>

<p>
  <input
    type="text"
    id="place"
    name="place"
    placeholder="Cidade"
    [(ngModel)]="place"
  />
</p>

<button type="button" (click)="getPlace(place)">Buscar</button>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Tipo</th>
      <th>Cidade</th>
      <th>Endereço</th>
      <th>Anfitrião</th>
      <th>Contato</th>
    </tr>
  </thead>
  <tbody *ngFor="let place of places">
    <tr>
      <td>{{ place.id }}</td>
      <td>{{ place.type }}</td>
      <td>{{ place.city }}</td>
      <td>{{ place.address }}</td>
      <td>{{ place.host }}</td>
      <td>
        <a
          href="https://api.whatsapp.com/send?phone=55{{ place.contato }}"
          target="_blank"
          >{{ place.contato }}</a
        >
      </td>
    </tr>
  </tbody>
</table>
